@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.raleway {
  font-family: "Raleway", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

body {
  box-sizing: border-box;
  background: rgb(245, 248, 255);
}

* {
  margin: 0px;
  padding: 0px;
}

/* Shared style */
.primary-btn {
  font-size: 16px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  padding: 12px 36px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  background: rgb(78, 71, 255);
  border: none;
}

.primary-btn:hover {
  background-color: yellow;
  color: black;
  transform: scale(1.1);
  transition: background-color 0.5s;
}

/* Header Section Design */
header {
  max-width: 100%;
  height: 698px;
  margin: 0 auto;
  background-color: rgba(78, 71, 255, 0.01);
  background-image: url("./Assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  width: 1140px;
  height: 151px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 34px;
  color: rgb(78, 71, 255);
}

/* Banner Section Design */
.banner {
  text-align: center;
  width: 905px;
  height: 237px;
  margin: 158px auto;
}

.banner h2 {
  color: rgb(37, 36, 50);
  font-family: Raleway;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 37px;
}

/* Action Section */
.action-section {
  width: 1140px;
  height: 328px;
  margin: 116px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-content {
  width: 517px;
}

.action-content h3 {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: rgb(37, 36, 50);
}

.action-content p {
  font-family: "Raleway", sans-serif;
  margin: 23px 0;
  font-size: 24px;
  font-weight: 400;
  color: rgba(37, 36, 50, 0.5);
}

.action-img img {
  border-radius: 48px;
}

/* Productive Section */
.productive-section {
  width: 1140px;
  height: 306px;
  padding: 50px 80px;
  margin: 137px auto;
  border-radius: 24px;
  text-align: center;
  background: rgba(78, 71, 255, 0.1);
  box-sizing: border-box;
}

.productive-section p {
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: rgb(37, 36, 50);
}

.productive-items {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.item-title {
  font-size: 80px;
  font-weight: 700;
  color: rgb(78, 71, 255);
  font-family: "Inter", sans-serif;
}

.item-description {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
}

/* User Say Section */
.user-say-section {
  width: 1140px;
  margin: 150px auto;
}

.user-say-section h4 {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: rgb(37, 36, 50);
  text-align: center;
}

.user-cards {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.user-card {
  width: 366.67px;
  height: 243px;
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid rgb(242, 237, 237);
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
}

.card-title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: rgb(30, 30, 30);
}

.card-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(30, 30, 30);
  margin: 20px 0;
}

.card-user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-user-img img {
  border-radius: 50%;
}

.card-user-name {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgb(117, 117, 117);
}

.card-user-date {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(179, 179, 179);
}

.card-rating {
  margin: 10px 0;
}

/* Focus Section */
.focus-section {
  width: 1140px;
  height: 696.77px;
  border-radius: 14px;
  padding: 71px 150px;
  background: rgb(255, 255, 255);
  margin: 130px auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.focus-title {
  font-size: 50px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.focus-description {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.focus-img img {
  border-radius: 48px;
}

/* Get Section */
.get-section {
  width: 1140px;
  height: 632px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.get-left {
  width: 528px;
  height: 232px;
}

.get-left h1 {
  font-family: "Raleway", sans-serif;
  font-size: 97px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.get-right {
  width: 497px;
  height: 490px;
}

.get-right input {
  width: 497px;
  height: 70px;
  margin-bottom: 20px;
  padding: 20px 32px;
  box-sizing: border-box;
  border: 1px solid rgb(214, 221, 237);
  border-radius: 10px;
  background: rgb(255, 255, 255);
}

.get-right textarea {
  width: 497px;
  height: 135px;
  padding: 20px 32px;
  box-sizing: border-box;
  border: 1px solid rgb(214, 221, 237);
  border-radius: 10px;
  background: rgb(255, 255, 255);
}

.get-right label {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.get-right input[placeholder] {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.get-right textarea[placeholder] {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.get-in-btn {
  font-size: 16px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  padding: 19px 101px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  background: rgb(78, 71, 255);
  border: none;
  margin-top: 20px;
  width: 497px;
  height: 62px;
}

.get-in-btn:hover {
  background-color: yellow;
  color: black;
  transform: scale(1.1);
  transition: background-color 0.5s;
}

/* Footer Section */
footer {
  width: 100%;
  height: 428px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
}

.footer-logo {
  font-family: "Inter", sans-serif;
  font-size: 100px;
  font-weight: 900;
  color: rgb(78, 71, 255);
}

.footer-desctiption {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 531px;
  color: rgb(137, 135, 161);
}

.footer-menu a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  margin-right: 30px;
  color: rgb(137, 135, 161);
}
